
body {
	background: #FFF9C4;
	color: #444;
	font-size: 17px;
}
body > a {
	position: absolute;
	right: 20px;
	top: 12px;
}

.card-panel:not(.red) {
	margin: 50px auto;
	padding: 0;
}

.login, .register {
	max-width: 500px;
	text-align: center;
	padding: 40px !important;
}

h1 {
	text-align: center;
	padding: 50px 0;
	margin: 0;
}

.btn {
	margin: 20px;
}

.btn-floating {
	position: fixed;
	bottom: 50px;
	right: 50px;
}

.row:first-of-type div {
	text-align: center;
	vertical-align: middle;
	padding-bottom: 10px;
	line-height: 1;
}

.resultate .row:first-of-type div {
	padding: 15px 30px;
}

.table {
	display: table;
	width:100%;
}
.container .row {
	display: table-row;
	width: 100%;
	margin: 0;
}

.row > div {
	display: table-cell;
	border-bottom: 1px solid #e5e5e5;
	vertical-align: middle;
}

.resultate .row > div {
	padding: 30px;
}
.row > div:first-of-type {
	width: 100%;
	padding-left: 30px;
	text-align: left;
}
.row > div:last-of-type {
	padding-right: 30px;
}
.error:last-of-type {
	border-bottom: 0px;
}

#survey label {
	padding: 40px 35px;
}

[type="radio"]+label:before, [type="radio"]+label:after {
	left: 25px;
	top: 27px;
}

a {
	color: #26a69a;
}


.row:first-of-type, .row div::after {
	color: #777;
}

.resultate .row div {
	width: 50%;
}

#toast-container {
	top: inherit;
	bottom: 54px;
	right: 55px;
}
.percentage {
	width: 50%;
	position: relative;
}
.percentage span {
	background-color: #FFF9C4;
	display: inline-block;
	border-right: 1px solid #26a69a;
    padding-left: 5px;
}
.error {
	border-bottom: 1px solid #e5e5e5;
}
input:disabled + label {
	cursor: default !important;
}
.tooltipped::before {
	box-shadow: 0 0 10px rgba(81, 203, 238, 1);
}
#email:focus + label {
    font-size: 0.8rem;
  -webkit-transform: translateY(-140%);
  -moz-transform: translateY(-140%);
  -ms-transform: translateY(-140%);
  -o-transform: translateY(-140%);
  transform: translateY(-140%);
}

.material-tooltip {
	margin-top: -30px !important;
}

@media (max-width: 950px) {

	.home .row:first-of-type div {
		display: none;
	}
	.home .row:first-of-type div:first-of-type {
		display: block;
	}
	.row > div {
		display: inline-block;
		border: none;
		padding-right: 0 !important;
	}
	.home .row > div:first-of-type {
		padding-top: 20px;
	}
	.row {
		display: block !important;
		border-bottom: 1px solid #e5e5e5;
	}
	.home label {
		padding: 40px 25px !important;
	}
	[type="radio"]+label:before, [type="radio"]+label:after {
		left: 0;
	}
	.container {
		width: 100%;
	}
	.home .row div::after {
		position: relative;
		bottom: 35px;
		right: 25px;
	}
	.home .row div:nth-last-child(1)::after {
		content: 'Keine Meinung';
	}
	.home .row div:nth-last-child(2)::after {
		content: 'ja';
	}
	.home .row div:nth-last-child(3)::after {
		content: 'eher ja';
	}
	.home .row div:nth-last-child(4)::after {
		content: 'eher nein';
	}
	.home .row div:nth-last-child(5)::after {
		content: 'nein';
	}
	.home .row div:nth-last-child(5) {
		padding-left: 30px;
	}
	.resultate .row > div {
		display: block;
		width: 100%;
		padding: 10px;
	}
	
}
@media (max-width: 680px) {
	.home .row > div {
		display: block;
		padding-left: 30px;
	}
	[type="radio"]+label:before, [type="radio"]+label:after {
		top: 0;
	}
	.home label {
		padding: 0 !important;
	}
	.home .row div::after {
		position: relative;
		bottom: 7px;
		right: -30px;
	}
}


