<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/font-roboto/roboto.html">
<link rel="import" href="../bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="../bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="../bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../bower_components/core-localstorage/core-localstorage.html">
<link rel="import" href="../bower_components/core-item/core-item.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/core-ajax/core-ajax.html">
<link rel="import" href="../bower_components/core-pages/core-pages.html">

<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-animated-pages/transitions/slide-from-right.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="umfrage-item.html">

<polymer-element name="umfrage-main">
  <template>
  <style>
    [drawer] {
      background-color: #fff;
      box-shadow: 1px 0 1px rgba(0,0,0,.1);
    }

    [main] > div {
      
    }

    [drawer] > core-item {
      padding: 1em;
    }

    [drawer] core-toolbar {
      background-color: #4F7DC9;
      color: #fff;
    }

    paper-fab {
      background-color: #e0a30b;
      position: fixed !important;
      bottom: 2em;
      right: 2em;
      z-index: 10;
    }
  </style>
  <link rel="stylesheet" href="../styles.css">
  <core-drawer-panel forceNarrow="true" id="drawerPanel">
    <core-header-panel drawer mode="seamed">
        <core-toolbar>Menu</core-toolbar>
        <core-menu selected="{{page}}" on-click="{{togglePanel}}">
        	<paper-item>Umfrage</paper-item>
        	<paper-item>Menu2</paper-item>
        </core-menu>
    </core-header-panel>

    <core-header-panel main mode="seamed">
      <core-toolbar>
        <paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
        <span flex>Umfrage</span>
      </core-toolbar>
      <div class="content">
      	<core-pages id="pages" selected="{{page}}">
      		<section>
        		<template repeat="{{question, questionIndex in questions}}">
          			<umfrage-item question="{{question}}" answer="{{answers[questionIndex]}}"></umfrage-item>
        		</template>
   		        <paper-fab hidden?="{{!valid}}" icon="icons:send" on-click="{{sendAnswers}}"></paper-fab>
   		        <core-localstorage name="answers" value="{{answers}}"></core-localstorage>
        		<core-ajax id="sendAnswers" url="../saveAnswers.php" handleAs="json" method="POST"></core-ajax>
        		<core-ajax auto url="../questions.json" handleAs="json" on-core-response="{{answersChanged}}" response="{{questions}}"></core-ajax>
        	</section>
        	<section>
        		<span>Page two</span>
        	</section>
        </core-pages>
        
      </div>
    </core-header-panel>
  </core-drawer-panel>
  </template>

  <script>
    Polymer('umfrage-main', {
      answers: [],
      valid: false,
      page: 0,
      answersChanged: function() {
        var size = this.answers.filter(function(value) { return value !== undefined }).length;
        if (this.questions && size == this.questions.length) {
          this.valid = true;
        }
      },
      sendAnswers: function() {
        this.$.sendAnswers.body = JSON.stringify(this.answers);
        this.$.sendAnswers.go();
      },
      togglePanel: function() {
      	this.$.drawerPanel.togglePanel();
      }
     
    });
  </script>
</polymer-element>
