:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  color: #444;
}

[main] {
  height: 100%;
  background-color: #f1f1f3;
}

core-toolbar {
  background-color: #303F9F;
  color: #fff;
}

